@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    text-align: center;
    background-color: rgb(26,26,26);
}
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.error-title {
    color: #3675da;
    font-weight: 500;
    font-size: 4.8rem;
    text-shadow: 4px 4px 10px #3675da;
    margin-bottom: 70px;
}
.error-text {
    font-size: 1.9rem;
    color: #fff;
    margin-bottom: 50px;
}

.btn--erreur {
    background-color: #3675da;
    color: rgb(255, 255, 255);
    align-self: end;
    padding: 30px 80px;
    margin: 0 auto;
  }
  
  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
  
    cursor: pointer;
    font-family: inherit;
  
    transition: all 0.3s;
  }
  
  button {
    outline: 1px solid #3675da;
  }
  
  .btn--erreur:hover {
    background-color: rgba(26, 26, 26);
    color: #3675da;
  }